@import "../../../../Assets/main-sass.scss";

.EditUser {
  h2 {
    color: $dark-blue;
    font-size: $headline;
    border-bottom: 2px solid $dark-blue;
    width: 20%;
    padding-bottom: 1em;
    margin: 1em auto;
  }

  form {
    padding: 2em;
    display: flex;
    flex-direction: column;
    width: 19em;
    text-align: left;
    margin: 0 auto;

    input {
      height: 2em;
      text-align: center;
      margin: 1em 0;
      background-color: $main-bg;
      border: 1px solid $dark-bg;

      &:focus {
        outline: none;
        border: 1px solid $gold;
      }
    }

    label {
      font-size: $small-text;
      color: $secondary-text;
    }

    button {
      width: 100%;
      margin-top: 1em;
      &:hover {
        color: $light-text;
        background-color: $dark-blue;
        border: none;
      }
    }
  }
}
