@import "../../../../Assets/main-sass.scss";

.FollowedVacation {
  h2 {
    color: $dark-blue;
    font-size: $headline;
    width: 80%;
    margin: 1em auto;
  }
  .vacation-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
  }
}
